* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    text-align: center;
    padding: 20px;
    background-color: 	#F89880;
    color: #ffffff;
}

nav {
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #eff788;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.product-item {
    background-color: #eff788;
    border: 1px solid #0000;
    border-radius: 5px;
    margin: 10px;
    width: 200px;
    text-align: center;
    padding: 10px;
}

.product-item img {
    width: 100%;
    border-radius: 5px;
}

.product-item p {
    margin-top: 5px;
    font-size: 16px;
}

.old-price {
    text-decoration: line-through;
    color: #888;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-content p, .footer-content a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.footer-content a:hover {
    color: #ddd;
}

.social-icons {
    margin: 10px 0;
}

.social-icons a {
    margin: 0 10px;
}
